<ion-card>
  <ion-card-header>
    <ion-title>Me gustan las abejas</ion-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-title>Nombre Restaurante</ion-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>
          <ion-text>Descripcion Restaurante</ion-text>
        </td>   
      </tr>
      <tr>
        <td>
          <ion-text><a href="mondongo">Link a pagina web del restaurante</a></ion-text>
        </td>
      </tr>
      <tr>
        <td>
          <ion-button>Hacer Reserva</ion-button>
        </td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>
